<span>
      <b><a href="https://akveo.com" target="_blank">ngx-admin</a></b>
    </span>
<span class="created-by"><span class="footer-item-info">Created with ♥ by </span>
      <b><a href="https://github.com/tpps88206" target="_blank">Sheng Chuan Hsu </a></b>
  <i class="far fa-copyright"></i> {{ year }}
    </span>
<span>
  <span class="footer-item-info">Version </span>
      <b>{{ version }}</b>
    </span>
<div class="socials footer-item-info">
  <a href="https://github.com/tpps88206/angular-firestore-example"
     target="_blank" class="ion ion-social-github"></a>
</div>
