<nb-card>
  <nb-card-header>
    項目統計（所有）
  </nb-card-header>
  <nb-card-body>
    <ngx-item-total></ngx-item-total>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    項目統計（未確認）
  </nb-card-header>
  <nb-card-body>
    <ngx-item-uncheck></ngx-item-uncheck>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    人員統計（所有）
  </nb-card-header>
  <nb-card-body>
    <ngx-user-total></ngx-user-total>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    人員統計（未確認）
  </nb-card-header>
  <nb-card-body>
    <ngx-user-uncheck></ngx-user-uncheck>
  </nb-card-body>
</nb-card>
