<!--<div class="ui top attached button">Button before grid</div>-->
<div class="ui stackable two column centered grid">
  <div class="column">
    <!--START INPUT NEW DATA SECTION-->
    <div class="ui card">
      <div class="content">
        <div class="right floated meta">v {{version}}</div>
        <form class="ui form" [formGroup]="newItemForm">
          <div class="ui field labeled massive fluid input" [ngClass]="{ 'error': submitted && f.value.errors }">
            <label for="value" class="ui label" style="width: 4rem;">
              <i class="fas fa-dollar-sign"></i>
            </label>
            <input type="tel" formControlName="value" placeholder="Value" id="value">
          </div>
          <!--<div class="ui calendar field labeled massive fluid input" [ngClass]="{ 'error': submitted && f.date.errors }">-->
            <!--<label for="date" class="ui label" style="width: 4rem;">-->
              <!--<i class="fas fa-calendar-alt"></i>-->
            <!--</label>-->
            <!--<input type="text" autocomplete="off" formControlName="date" placeholder="Date" id="date">-->
          <!--</div>-->
          <div class="ui left action field massive fluid input">
            <div class="ui floating dropdown button" [ngClass]="{ 'error': submitted && f.user.errors }" style="min-width: 4rem;">
              <div class="text">
                <i class="fas fa-user"></i>
              </div>
              <div class="menu">
                <div class="item" (click)="setItemUser('Michael')">Michael</div>
                <div class="item" (click)="setItemUser('Eileen')">Eileen</div>
              </div>
            </div>
            <input type="text" formControlName="description" placeholder="Description">
          </div>
          <div class="ui massive fluid buttons">
            <button class="ui green button" (click)="onSubmit('income')">Income</button>
            <div class="or"></div>
            <button class="ui red button" (click)="onSubmit('expenses')">Expenses</button>
          </div>
        </form>
      </div>
    </div>
    <!--END INPUT NEW DATA SECTION-->
    <!--START BOOK SECTION-->
    <div>
      <table class="ui very basic table unstackable">
        <thead>
        <tr class="center aligned">
          <th><i class="far fa-calendar-alt"></i></th>
          <th><i class="fas fa-exclamation-triangle"></i></th>
          <th><i class="fas fa-dollar-sign"></i></th>
          <th><i class="far fa-file-alt"></i></th>
          <th><i class="fas fa-user"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let book of books" class="center aligned" [ngClass]="book.check ? '' : 'error'" (click)="onCheck(book)">
          <td data-label="Date">
            <span *ngIf="book.date; else dateLoader">
              {{ book.date.seconds * 1000 | date }}
            </span>
            <ng-template #dateLoader>
              <i class="ui blue header fas fa-circle-notch fa-spin"></i>
            </ng-template>
          </td>
          <td data-label="Type">
            <i class="ui header fas" [ngClass]="book.value >= 0 ? 'fa-piggy-bank green' : 'fa-hand-holding-usd red'"></i>
          </td>
          <td data-label="Value" [ngClass]="book.value >= 0 ? 'green' : 'red'">{{ (book.value >= 0 ? book.value : book.value * -1) }}</td>
          <td data-label="Description">{{ book.description ? book.description : '' }}</td>
          <td data-label="User">{{ book.user ? book.user : '' }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--END BOOK SECTION-->
  </div>
</div>

