.ui.card {
  width: 100%;
}

.column {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.ui.calendar {
  label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: transparent;
  }
}
