nb-card {
  transform: translate3d(0, 0, 0);
}

:host /deep/ .custom-text-success {
  color: #26df8b !important;
}

:host /deep/ .custom-text-danger {
  color: #ff5680 !important;
}

:host /deep/ {
  .form-control:disabled {
    visibility: hidden !important;
  }
  .form-control:enabled {
    height: 32px !important;
  }
}

:host /deep/ {
  .avatar {
    vertical-align: middle;
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555555 transparent transparent transparent;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
